{% extends 'literature/base.html' %}

{% block title %}

    <h1>名句詳情</h1> 
{% endblock %}

{% block content %}

    <hr>
    <h3>{{language}}</h3>
    <ul>在 「/quotaInfo/」 後面，輸入 s ，可檢視繁體；</ul>
    <ul>將quotation_id (1~1999) 輸入在網址 「/quotaInfo/」 後面，可查看該名句的資訊。<h4>在 「/quotaInfo/數字/」  後面，輸入s，可檢視繁體。</h4></ul>
    <hr>

    {% if error %}
        <h3> {{error}} </h3>
    {% else %}
    <h3>第{{nums}}句，{{quotation}}</h3>
    <h4>{{quotaFrom}}</h4>
    {% endif %}

    {% for showdata in data %}
        <!-- <h3></h3> -->
        <div>
            <h4><div><ul>{ {{quotation_id}}: {{showdata.0}}&nbsp;,</ul></div></h4>
            <h3><div><ul>{{quotaTranslation_SimCh}}: {{showdata.2}}&nbsp;,</ul></div></h3>
            <div><ul>{{innerChapter_id}}: {{showdata.4}}&nbsp;,</ul></div>
            <div><ul>{{book_id}}: {{showdata.5}}&nbsp;,</ul></div>
            <h4><div><ul>{{bookName_SimCh}}: {{showdata.6}}&nbsp;}</ul></div></h4>
        </div>
            <br />
    {% empty %}
        <p>沒有資料喔！或者檢查資料庫連線！</p>
    {% endfor %}
    {% if error %}
        <h3> 查無名句資訊。</h3>
    {% else %}
        <h4>在網址輸入 「/bookInfo/{{bookid}}」&nbsp;，搜索 innerChapter_id 「{{innerchapterid}}」，可查看名句出處的段落。</h4>
        <h4>在網址輸入 「/authorInfo/{{authorid}}」&nbsp;，可查看該作者的資訊。</h4>
    {% endif %}


{% endblock %}