{% extends 'literature/base.html' %}

{% block title %}  
{% load makeListAttachUrl %}

    <h1>作者詳情</h1> 
{% endblock %}

{% block content %}

    <hr>
    <h3>{{language}}</h3>
    <ul>在 「/authorInfo/」 後面，輸入 s ，可檢視繁體；</ul>
    <ul>將author_id (1~15919) 輸入在網址 「/authorInfo/」 後面，可查看該作者的資訊。<h4>在 「/authorInfo/數字/」  後面，輸入s，可檢視繁體。</h4></ul>
    <hr>

    {% if error %}
    <h3>{{error}}</h3>
    {% else %}
    <h3>第{{nums}}位，{{authorName_SimCh}}</h3>
    <h4>{{authorIntro_SimCh}}</h4>
    {% endif %}

    {% for showdata in data %}
        <h3>{ {{author_id}}: {{showdata.0}},</h3>
        <div>
            <ul>{{dynasty_SimCh}}: {{showdata.2}}&nbsp;,</ul>
            <ul>{{authorImg_Uri}}: {{showdata.4}}&nbsp;,</ul>
            <ul>{{author_Uri}}: {{showdata.5}}&nbsp;,</ul>
            <ul>{{works_Uri}}:[ </ul>
            {% for detailuri in showdata.6|makeListAttachUrl %}
                <ul> {{detailuri}}&nbsp;,</ul>
            {% endfor %}
            <ul>]}</ul>
        </div>
    <br />
    {% empty %}
        <p>沒有資料喔！或者檢查資料庫連線！</p>
    {% endfor %}

    
    {% if error %}
        <h3> 查無此人。</h3>
    {% else %}
        <hr>
        <h3>著作</h3>
        {% for book in data2 %}
        <ul>
            <h3>book_id: {{book.0}}</h3>
            <h3>bookName: {{book.1}}</h3>
            <h3>bookIntro: {{book.2}}</h3>
            <h4>在網址輸入 「/bookInfo/{{book.0}}」&nbsp;，可查看該書的文章。</h4>
            <br />
        </ul>
        {% empty %}
        <h3>此作者沒有古籍著作。</h3>
        <h4>295本書  對到 15919位作者的機率是。。。。0.018531315....</h4>
        {% endfor %}
    {% endif %}
{% endblock %}